In [273]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [274]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
import xgboost as xgb

In [275]:

from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import jaccard_score
from sklearn.metrics import log_loss
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import GridSearchCV

In [276]:
df_train = pd.read_csv(r'C:\Users\100_rabh\1. protium\Train_v1.2.csv',sep=',',encoding='utf-8',parse_dates=True)
df_test = pd.read_csv(r'C:\Users\100_rabh\1. protium\Test_v1.2.csv',sep=',',encoding='utf-8',parse_dates=True)

In [277]:
print("Shape of train:", df_train.shape)
print("Shape of test:", df_test.shape)

Shape of train: (97480, 34)
Shape of test: (24370, 34)

In [278]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97480 entries, 0 to 97479
Data columns (total 34 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Patron_Salary                               97480 non-null  float64
 1   Automobile_Possession                       97480 non-null  int64
 2   Two-Wheeler_Ownership                       97480 non-null  int64
 3   Ongoing_Borrowing                           97480 non-null  int64
 4   Residence_Proprietorship                    97480 non-null  int64
 5   Offspring_Number                            97480 non-null  int64
 6   Loan_Capital                                97480 non-null  float64
 7   Borrowing_Periodic_Payment                  97480 non-null  float64
 8   Customer_Revenue_Category                   97480 non-null  object
 9   Patron_Academic_Qualification               97480 non-null  object
 10  Customer_Conjugal_State                     97480 non-null  object
 11  Patron_Sex                                  97480 non-null  object
 12  Borrowing_Agreement_Category                97480 non-null  object
 13  Customer_Living_Arrangement                 97480 non-null  object
 14  Population_Fraction_by_Region               97480 non-null  float64
 15  Elderliness_in_Days                         97480 non-null  float64
 16  Work_Duration_in_Days                       97480 non-null  int64
 17  Enlistment_Period_in_Days                   97480 non-null  float64
 18  Identity_Age_in_Days                        97480 non-null  int64
 19  Cellphone_Marker                            97480 non-null  int64
 20  Residential_Phone_Marker                    97480 non-null  int64
 21  Employment_Phone_Operation                  97480 non-null  int64
 22  Patron_Kin_Count                            97480 non-null  int64
 23  Customer_Urban_Area_Ranking                 97480 non-null  int64
 24  Request_Submission_Day                      97480 non-null  int64
 25  Request_Submission_Hour                     97480 non-null  int64
 26  Patron_Constant_Correspondence_Marker       97480 non-null  object
 27  Customer_Professional_Communication_Marker  97480 non-null  object
 28  Sort_of_Institution                         97480 non-null  object
 29  Rating_Origin_2                             97480 non-null  float64
 30  Rating_Origin_3                             97480 non-null  float64
 31  Telecommunication_Switch                    97480 non-null  float64
 32  Solvency_Information_Agency                 97480 non-null  int64
 33  Default                                     97480 non-null  int64
dtypes: float64(9), int64(16), object(9)
memory usage: 25.3+ MB

In [279]:
for i in df_train.columns:
    if df_train[i].dtypes == 'object':
        df_train[i] = df_train[i].str.upper()
        df_train[i] = df_train[i].str.strip()
        
        df_test[i] = df_test[i].str.upper()
        df_test[i] = df_test[i].str.strip()

In [280]:
# converting float to integer if column have 2 unique value
for i in df_train.columns:
    if df_train[i].dtypes == 'float':
        if df_train[i].nunique() <= 2:
            df_train[i] = df_train[i].astype(int)

In [281]:
# converting float to integer if column have 2 unique value
for i in df_test.columns:
    if df_test[i].dtypes == 'float':
        if df_test[i].nunique() <= 2:
            df_test[i] = df_test[i].astype(int)

### IV

In [282]:
def iv_woe(data, target, bins, show_woe=False):
    
    #Empty Dataframe
    newDF,woeDF = pd.DataFrame(), pd.DataFrame()
    
    #Extract Column Names
    cols = data.columns
    
    #Run WOE and IV on all the independent variables
    for ivars in cols[~cols.isin([target])]:
        if (data[ivars].dtype.kind in 'bifc') and (len(np.unique(data[ivars]))>10):
            binned_x = pd.qcut(data[ivars], bins,  duplicates='drop')
            d0 = pd.DataFrame({'x': binned_x, 'y': data[target]})
        else:
            d0 = pd.DataFrame({'x': data[ivars], 'y': data[target]})
        d = d0.groupby("x", as_index=False).agg({"y": ["count", "sum"]})
        d.columns = ['Cutoff', 'N', 'Events']
        d['% of Events'] = np.maximum(d['Events'], 0.5) / d['Events'].sum()
        d['Non-Events'] = d['N'] - d['Events']
        d['% of Non-Events'] = np.maximum(d['Non-Events'], 0.5) / d['Non-Events'].sum()
        d['WoE'] = np.log(d['% of Events']/d['% of Non-Events'])
        d['IV'] = d['WoE'] * (d['% of Events'] - d['% of Non-Events'])
        d.insert(loc=0, column='Variable', value=ivars)
        print("Information value of " + ivars + " is " + str(round(d['IV'].sum(),6)))
        temp =pd.DataFrame({"Variable" : [ivars], "IV" : [d['IV'].sum()]}, columns = ["Variable", "IV"])
        newDF=pd.concat([newDF,temp], axis=0)
        woeDF=pd.concat([woeDF,d], axis=0)

        #Show WOE Table
        if show_woe == True:
            print(d)
    return newDF, woeDF

In [283]:
iv, woe = iv_woe(data = df_train, target = 'Default', bins = 4, show_woe = True)

Information value of Patron_Salary is 0.010128
        Variable               Cutoff      N  Events  % of Events  Non-Events  \
0  Patron_Salary  (6749.999, 11250.0]  30980    2570     0.326349       28410
1  Patron_Salary   (11250.0, 14400.0]  18366    1596     0.202667       16770
2  Patron_Salary   (14400.0, 20250.0]  26138    2223     0.282286       23915
3  Patron_Salary   (20250.0, 33750.0]  21996    1486     0.188698       20510

   % of Non-Events       WoE        IV
0         0.317058  0.028883  0.000268
1         0.187155  0.079627  0.001235
2         0.266894  0.056070  0.000863
3         0.228893 -0.193107  0.007762
Information value of Automobile_Possession is 0.007117
                Variable  Cutoff      N  Events  % of Events  Non-Events  \
0  Automobile_Possession       0  65025    5537     0.703111       59488
1  Automobile_Possession       1  32455    2338     0.296889       30117

   % of Non-Events       WoE        IV
0         0.663892  0.057396  0.002251
1         0.336108 -0.124076  0.004866
Information value of Two-Wheeler_Ownership is 3.5e-05
                Variable  Cutoff      N  Events  % of Events  Non-Events  \
0  Two-Wheeler_Ownership       0  66076    5318     0.675302       60758
1  Two-Wheeler_Ownership       1  31404    2557     0.324698       28847

   % of Non-Events       WoE        IV
0         0.678065 -0.004084  0.000011
1         0.321935  0.008547  0.000024
Information value of Ongoing_Borrowing is 2e-06
            Variable  Cutoff      N  Events  % of Events  Non-Events  \
0  Ongoing_Borrowing       0  49583    4011     0.509333       45572
1  Ongoing_Borrowing       1  47897    3864     0.490667       44033

   % of Non-Events       WoE        IV
0         0.508588  0.001465  0.000001
1         0.491412 -0.001518  0.000001
Information value of Residence_Proprietorship is 6e-06
                   Variable  Cutoff      N  Events  % of Events  Non-Events  \
0  Residence_Proprietorship       0  29178    2349     0.298286       26829
1  Residence_Proprietorship       1  68302    5526     0.701714       62776

   % of Non-Events       WoE        IV
0         0.299414 -0.003776  0.000004
1         0.700586  0.001609  0.000002
Information value of Offspring_Number is 0.007183
           Variable  Cutoff      N  Events  % of Events  Non-Events  \
0  Offspring_Number       0  69192    5308     0.674032       63884
1  Offspring_Number       1  18700    1711     0.217270       16989
2  Offspring_Number       2   9588     856     0.108698        8732

   % of Non-Events       WoE        IV
0         0.712951 -0.056136  0.002185
1         0.189599  0.136230  0.003770
2         0.097450  0.109239  0.001229
Information value of Loan_Capital is 0.036958
       Variable                Cutoff      N  Events  % of Events  Non-Events  \
0  Loan_Capital  (14219.999, 27504.0]  24392    1738     0.220698       22654
1  Loan_Capital   (27504.0, 50849.55]  24364    2328     0.295619       22036
2  Loan_Capital   (50849.55, 80865.0]  25355    2356     0.299175       22999
3  Loan_Capital   (80865.0, 135000.0]  23369    1453     0.184508       21916

   % of Non-Events       WoE        IV
0         0.252821 -0.135883  0.004365
1         0.245924  0.184050  0.009146
2         0.256671  0.153232  0.006513
3         0.244585 -0.281869  0.016934
Information value of Borrowing_Periodic_Payment is 0.01401
                     Variable              Cutoff      N  Events  % of Events  \
0  Borrowing_Periodic_Payment   (899.999, 1687.5]  24499    1726     0.219175
1  Borrowing_Periodic_Payment   (1687.5, 2484.45]  24463    2156     0.273778
2  Borrowing_Periodic_Payment  (2484.45, 3411.45]  24175    2194     0.278603
3  Borrowing_Periodic_Payment   (3411.45, 5322.6]  24343    1799     0.228444

   Non-Events  % of Non-Events       WoE        IV
0       22773         0.254149 -0.148051  0.005178
1       22307         0.248948  0.095072  0.002361
2       21981         0.245310  0.127266  0.004237
3       22544         0.251593 -0.096520  0.002234
Information value of Customer_Revenue_Category is 0.048111
                    Variable           Cutoff      N  Events  % of Events  \
0  Customer_Revenue_Category      BUSINESSMAN      1       0     0.000063
1  Customer_Revenue_Category       COMMERCIAL  22237    1690     0.214603
2  Customer_Revenue_Category         GOVT JOB   6678     391     0.049651
3  Customer_Revenue_Category  MATERNITY LEAVE      1       0     0.000063
4  Customer_Revenue_Category          RETIRED  16895     935     0.118730
5  Customer_Revenue_Category          SERVICE  51662    4859     0.617016
6  Customer_Revenue_Category          STUDENT      6       0     0.000063

   Non-Events  % of Non-Events       WoE            IV
0           1         0.000011  1.738571  9.098284e-05
1       20547         0.229306 -0.066268  9.743604e-04
2        6287         0.070163 -0.345814  7.093575e-03
3           1         0.000011  1.738571  9.098284e-05
4       15960         0.178115 -0.405576  2.408511e-02
5       46803         0.522326  0.166603  1.577568e-02
6           6         0.000067 -0.053189  1.844843e-07
Information value of Patron_Academic_Qualification is 0.059378
                        Variable              Cutoff      N  Events  \
0  Patron_Academic_Qualification          GRADUATION  23092    1176
1  Patron_Academic_Qualification  GRADUATION DROPOUT   3160     272
2  Patron_Academic_Qualification    JUNIOR SECONDARY   1151     118
3  Patron_Academic_Qualification           POST GRAD     50       1
4  Patron_Academic_Qualification           SECONDARY  70027    6308

   % of Events  Non-Events  % of Non-Events       WoE        IV
0     0.149333       21916         0.244585 -0.493380  0.046995
1     0.034540        2888         0.032230  0.069201  0.000160
2     0.014984        1033         0.011528  0.262180  0.000906
3     0.000127          49         0.000547 -1.460102  0.000613
4     0.801016       63719         0.711110  0.119054  0.010704
Information value of Customer_Conjugal_State is 0.01041
                  Variable Cutoff      N  Events  % of Events  Non-Events  \
0  Customer_Conjugal_State      D   6015     449     0.057016        5566
1  Customer_Conjugal_State      M  72636    5758     0.731175       66878
2  Customer_Conjugal_State      S  13951    1359     0.172571       12592
3  Customer_Conjugal_State      W   4878     309     0.039238        4569

   % of Non-Events       WoE        IV
0         0.062117 -0.085691  0.000437
1         0.746365 -0.020562  0.000312
2         0.140528  0.205405  0.006582
3         0.050990 -0.261990  0.003079
Information value of Patron_Sex is 0.031529
     Variable  Cutoff      N  Events  % of Events  Non-Events  \
0  Patron_Sex  FEMALE  32834    3273     0.415619       29561
1  Patron_Sex    MALE  64646    4602     0.584381       60044

   % of Non-Events       WoE        IV
0         0.329903  0.230969  0.019798
1         0.670097 -0.136869  0.011732
Information value of Borrowing_Agreement_Category is 0.011536
                       Variable Cutoff      N  Events  % of Events  \
0  Borrowing_Agreement_Category     CL  88654    7370     0.935873
1  Borrowing_Agreement_Category     RL   8826     505     0.064127

   Non-Events  % of Non-Events       WoE        IV
0       81284         0.907137  0.031186  0.000896
1        8321         0.092863 -0.370261  0.010640
Information value of Customer_Living_Arrangement is 0.013305
                      Variable     Cutoff      N  Events  % of Events  \
0  Customer_Living_Arrangement     FAMILY   4635     516     0.065524
1  Customer_Living_Arrangement       HOME  86836    6789     0.862095
2  Customer_Living_Arrangement  MUNICIPAL   3406     293     0.037206
3  Customer_Living_Arrangement     OFFICE    807      57     0.007238
4  Customer_Living_Arrangement     RENTAL   1446     183     0.023238
5  Customer_Living_Arrangement     SHARED    350      37     0.004698

   Non-Events  % of Non-Events       WoE        IV
0        4119         0.045968  0.354459  0.006932
1       80047         0.893332 -0.035592  0.001112
2        3113         0.034741  0.068548  0.000169
3         750         0.008370 -0.145304  0.000164
4        1263         0.014095  0.499959  0.004571
5         313         0.003493  0.296433  0.000357
Information value of Population_Fraction_by_Region is 0.009864
                        Variable            Cutoff      N  Events  \
0  Population_Fraction_by_Region     (0.004, 0.01]  24975    2170
1  Population_Fraction_by_Region    (0.01, 0.0188]  25944    2223
2  Population_Fraction_by_Region  (0.0188, 0.0264]  22201    1807
3  Population_Fraction_by_Region  (0.0264, 0.0462]  24360    1675

   % of Events  Non-Events  % of Non-Events       WoE        IV
0     0.275556       22805         0.254506  0.079465  0.001673
1     0.282286       23721         0.264729  0.064215  0.001127
2     0.229460       20394         0.227599  0.008145  0.000015
3     0.212698       22685         0.253167 -0.174173  0.007048

Information value of Elderliness_in_Days is 0.071282
              Variable               Cutoff      N  Events  % of Events  \
0  Elderliness_in_Days  (9443.999, 12502.0]  24373    2649     0.336381
1  Elderliness_in_Days   (12502.0, 15583.0]  24371    2073     0.263238
2  Elderliness_in_Days   (15583.0, 19625.0]  24368    1832     0.232635
3  Elderliness_in_Days   (19625.0, 23191.0]  24368    1321     0.167746

   Non-Events  % of Non-Events       WoE        IV
0       21724         0.242442  0.327483  0.030763
1       22298         0.248848  0.056218  0.000809
2       22536         0.251504 -0.077988  0.001472
3       23047         0.257207 -0.427429  0.038238
Information value of Work_Duration_in_Days is 0.102266
                Variable              Cutoff      N  Events  % of Events  \
0  Work_Duration_in_Days    (231.999, 964.0]  24388    2734     0.347175
1  Work_Duration_in_Days     (964.0, 2159.0]  24367    2288     0.290540
2  Work_Duration_in_Days    (2159.0, 5563.0]  24359    1570     0.199365
3  Work_Duration_in_Days  (5563.0, 365243.0]  24366    1283     0.162921

   Non-Events  % of Non-Events       WoE        IV
0       21654         0.241661  0.362293  0.038227
1       22079         0.246404  0.164769  0.007272
2       22789         0.254327 -0.243484  0.013382
3       23083         0.257608 -0.458177  0.043384
Information value of Enlistment_Period_in_Days is 0.019159
                    Variable              Cutoff      N  Events  % of Events  \
0  Enlistment_Period_in_Days  (343.999, 2087.75]  24370    2187     0.277714
1  Enlistment_Period_in_Days   (2087.75, 4406.0]  24376    2123     0.269587
2  Enlistment_Period_in_Days   (4406.0, 7352.25]  24364    2001     0.254095
3  Enlistment_Period_in_Days  (7352.25, 11339.0]  24370    1564     0.198603

   Non-Events  % of Non-Events       WoE        IV
0       22183         0.247564  0.114922  0.003465
1       22253         0.248346  0.082071  0.001743
2       22363         0.249573  0.017957  0.000081
3       22806         0.254517 -0.248059  0.013870
Information value of Identity_Age_in_Days is 0.04018
               Variable             Cutoff      N  Events  % of Events  \
0  Identity_Age_in_Days  (383.999, 1789.0]  24373    2442     0.310095
1  Identity_Age_in_Days   (1789.0, 3148.0]  24377    2093     0.265778
2  Identity_Age_in_Days   (3148.0, 4262.0]  24379    1886     0.239492
3  Identity_Age_in_Days   (4262.0, 4927.0]  24351    1454     0.184635

   Non-Events  % of Non-Events       WoE        IV
0       21931         0.244752  0.236634  0.015462
1       22284         0.248691  0.066447  0.001135
2       22493         0.251024 -0.047028  0.000542
3       22897         0.255533 -0.324970  0.023040
Information value of Cellphone_Marker is 0.0
           Variable  Cutoff      N  Events  % of Events  Non-Events  \
0  Cellphone_Marker       1  97480    7875          1.0       89605

   % of Non-Events  WoE   IV
0              1.0  0.0  0.0
Information value of Residential_Phone_Marker is 0.007277
                   Variable  Cutoff      N  Events  % of Events  Non-Events  \
0  Residential_Phone_Marker       0  77976    6046     0.767746       71930
1  Residential_Phone_Marker       1  19504    1829     0.232254       17675

   % of Non-Events       WoE        IV
0         0.802745 -0.044579  0.001560
1         0.197255  0.163336  0.005717
Information value of Employment_Phone_Operation is 0.007908
                     Variable  Cutoff      N  Events  % of Events  Non-Events  \
0  Employment_Phone_Operation       0  70064    5944     0.754794       64120
1  Employment_Phone_Operation       1  27416    1931     0.245206       25485

   % of Non-Events       WoE        IV
0         0.715585  0.053344  0.002092
1         0.284415 -0.148334  0.005816
Information value of Patron_Kin_Count is 0.005816
           Variable  Cutoff      N  Events  % of Events  Non-Events  \
0  Patron_Kin_Count       1  21050    1745     0.221587       19305
1  Patron_Kin_Count       2  51138    3875     0.492063       47263
2  Patron_Kin_Count       3  16360    1448     0.183873       14912
3  Patron_Kin_Count       4   8932     807     0.102476        8125

   % of Non-Events       WoE        IV
0         0.215446  0.028108  0.000173
1         0.527459 -0.069464  0.002459
2         0.166419  0.099735  0.001741
3         0.090676  0.122341  0.001444
Information value of Customer_Urban_Area_Ranking is 0.04305
                      Variable  Cutoff      N  Events  % of Events  \
0  Customer_Urban_Area_Ranking       1  10767     567     0.072000
1  Customer_Urban_Area_Ranking       2  73049    5756     0.730921
2  Customer_Urban_Area_Ranking       3  13664    1552     0.197079

   Non-Events  % of Non-Events       WoE        IV
0       10200         0.113833 -0.458066  0.019162
1       67293         0.750996 -0.027095  0.000544
2       12112         0.135171  0.377066  0.023344
Information value of Request_Submission_Day is 0.00226
                 Variable  Cutoff      N  Events  % of Events  Non-Events  \
0  Request_Submission_Day       0   5001     366     0.046476        4635
1  Request_Submission_Day       1  15790    1186     0.150603       14604
2  Request_Submission_Day       2  16741    1412     0.179302       15329
3  Request_Submission_Day       3  18048    1502     0.190730       16546
4  Request_Submission_Day       4  15721    1261     0.160127       14460
5  Request_Submission_Day       5  15699    1275     0.161905       14424
6  Request_Submission_Day       6  10480     873     0.110857        9607

   % of Non-Events       WoE        IV
0         0.051727 -0.107040  0.000562
1         0.162982 -0.078991  0.000978
2         0.171073  0.046979  0.000387
3         0.184655  0.032371  0.000197
4         0.161375 -0.007763  0.000010
5         0.160973  0.005771  0.000005
6         0.107215  0.033406  0.000122
Information value of Request_Submission_Hour is 0.003925
                  Variable         Cutoff      N  Events  % of Events  \
0  Request_Submission_Hour  (6.999, 10.0]  31589    2742     0.348190
1  Request_Submission_Hour   (10.0, 12.0]  24808    2005     0.254603
2  Request_Submission_Hour   (12.0, 14.0]  17924    1394     0.177016
3  Request_Submission_Hour   (14.0, 17.0]  23159    1734     0.220190

   Non-Events  % of Non-Events       WoE            IV
0       28847         0.321935  0.078400  2.058404e-03
1       22803         0.254484  0.000470  5.620274e-08
2       16530         0.184476 -0.041282  3.079794e-04
3       21425         0.239105 -0.082410  1.558736e-03
Information value of Patron_Constant_Correspondence_Marker is 0.020859
                                Variable Cutoff      N  Events  % of Events  \
0  Patron_Constant_Correspondence_Marker     NO   7547     914     0.116063
1  Patron_Constant_Correspondence_Marker    YES  89933    6961     0.883937

   Non-Events  % of Non-Events       WoE        IV
0        6633         0.074025  0.449736  0.018906
1       82972         0.925975 -0.046462  0.001953
Information value of Customer_Professional_Communication_Marker is 0.010489
                                     Variable Cutoff      N  Events  \
0  Customer_Professional_Communication_Marker     NO  17374    1697
1  Customer_Professional_Communication_Marker    YES  80106    6178

   % of Events  Non-Events  % of Non-Events       WoE        IV
0     0.215492       15677         0.174957  0.208385  0.008447
1     0.784508       73928         0.825043 -0.050379  0.002042
Information value of Sort_of_Institution is 0.075148
               Variable                  Cutoff      N  Events  % of Events  \
0   Sort_of_Institution             ADVERTISING    125       9     0.001143
1   Sort_of_Institution             AGRICULTURE    813      93     0.011810
2   Sort_of_Institution                    BANK    829      42     0.005333
3   Sort_of_Institution  BUSINESS ENTITY TYPE 1   1841     174     0.022095
4   Sort_of_Institution  BUSINESS ENTITY TYPE 2  20192    1204     0.152889
5   Sort_of_Institution  BUSINESS ENTITY TYPE 3  23806    2151     0.273143
6   Sort_of_Institution                CLEANING    104      11     0.001397
7   Sort_of_Institution            CONSTRUCTION   2087     245     0.031111
8   Sort_of_Institution                 CULTURE    107       7     0.000889
9   Sort_of_Institution             ELECTRICITY    295      15     0.001905
10  Sort_of_Institution               EMERGENCY    157      21     0.002667
11  Sort_of_Institution              GOVERNMENT   3176     209     0.026540
12  Sort_of_Institution                   HOTEL    320      21     0.002667
13  Sort_of_Institution                 HOUSING    926      81     0.010286
14  Sort_of_Institution        INDUSTRY: TYPE 1    316      39     0.004952
15  Sort_of_Institution       INDUSTRY: TYPE 10     34       4     0.000508
16  Sort_of_Institution       INDUSTRY: TYPE 11    821      78     0.009905
17  Sort_of_Institution       INDUSTRY: TYPE 12    125       6     0.000762
18  Sort_of_Institution       INDUSTRY: TYPE 13     28       2     0.000254
19  Sort_of_Institution        INDUSTRY: TYPE 2    147       8     0.001016
20  Sort_of_Institution        INDUSTRY: TYPE 3    979      97     0.012317
21  Sort_of_Institution        INDUSTRY: TYPE 4    278      33     0.004190
22  Sort_of_Institution        INDUSTRY: TYPE 5    187      12     0.001524
23  Sort_of_Institution        INDUSTRY: TYPE 6     31       1     0.000127
24  Sort_of_Institution        INDUSTRY: TYPE 7    380      27     0.003429
25  Sort_of_Institution        INDUSTRY: TYPE 8      5       1     0.000127
26  Sort_of_Institution        INDUSTRY: TYPE 9   1027      67     0.008508
27  Sort_of_Institution               INSURANCE    170       2     0.000254
28  Sort_of_Institution            KINDERGARTEN   2112     138     0.017524
29  Sort_of_Institution          LEGAL SERVICES     93      10     0.001270
30  Sort_of_Institution                MEDICINE   3630     263     0.033397
31  Sort_of_Institution                MILITARY    835      40     0.005079
32  Sort_of_Institution                  MOBILE    100      10     0.001270
33  Sort_of_Institution                   OTHER   4980     387     0.049143
34  Sort_of_Institution                  POLICE    738      34     0.004317
35  Sort_of_Institution                  POSTAL    692      64     0.008127
36  Sort_of_Institution                 REALTOR    123      11     0.001397
37  Sort_of_Institution                RELIGION     31       2     0.000254
38  Sort_of_Institution              RESTAURANT    554      61     0.007746
39  Sort_of_Institution                  SCHOOL   2696     141     0.017905
40  Sort_of_Institution                SECURITY   1035     116     0.014730
41  Sort_of_Institution     SECURITY MINISTRIES    601      28     0.003556
42  Sort_of_Institution           SELF-EMPLOYED  11782    1186     0.150603
43  Sort_of_Institution                SERVICES    453      26     0.003302
44  Sort_of_Institution                 TELECOM    175      12     0.001524
45  Sort_of_Institution           TRADE: TYPE 1    107       6     0.000762
46  Sort_of_Institution           TRADE: TYPE 2    568      31     0.003937
47  Sort_of_Institution           TRADE: TYPE 3   1055     106     0.013460
48  Sort_of_Institution           TRADE: TYPE 4     23       1     0.000127
49  Sort_of_Institution           TRADE: TYPE 5     11       3     0.000381
50  Sort_of_Institution           TRADE: TYPE 6    211       9     0.001143
51  Sort_of_Institution           TRADE: TYPE 7   2377     227     0.028825
52  Sort_of_Institution       TRANSPORT: TYPE 1     62       3     0.000381
53  Sort_of_Institution       TRANSPORT: TYPE 2    639      44     0.005587
54  Sort_of_Institution       TRANSPORT: TYPE 3    401      60     0.007619
55  Sort_of_Institution       TRANSPORT: TYPE 4   1648     176     0.022349
56  Sort_of_Institution              UNIVERSITY    442      20     0.002540

    Non-Events  % of Non-Events       WoE        IV
0          116         0.001295 -0.124648  0.000019
1          720         0.008035  0.385066  0.001453
2          787         0.008783 -0.498841  0.001721
3         1667         0.018604  0.171992  0.000600
4        18988         0.211908 -0.326440  0.019266
5        21655         0.241672  0.122414  0.003853
6           93         0.001038  0.297014  0.000107
7         1842         0.020557  0.414369  0.004373
8          100         0.001116 -0.227542  0.000052
9          280         0.003125 -0.495021  0.000604
10         136         0.001518  0.563585  0.000648
11        2967         0.033112 -0.221254  0.001454
12         299         0.003337 -0.224203  0.000150
13         845         0.009430  0.086830  0.000074
14         277         0.003091  0.471262  0.000877
15          30         0.000335  0.416815  0.000072
16         743         0.008292  0.177731  0.000287
17         119         0.001328 -0.555646  0.000315
18          26         0.000290 -0.133231  0.000005
19         139         0.001551 -0.423314  0.000227
20         882         0.009843  0.224237  0.000555
21         245         0.002734  0.426967  0.000622
22         175         0.001953 -0.248161  0.000107
23          30         0.000335 -0.969479  0.000201
24         353         0.003940 -0.138913  0.000071
25           4         0.000045  1.045424  0.000086
26         960         0.010714 -0.230523  0.000508
27         168         0.001875 -1.999099  0.003240
28        1974         0.022030 -0.228846  0.001031
29          83         0.000926  0.315462  0.000108
30        3367         0.037576 -0.117905  0.000493
31         795         0.008872 -0.557745  0.002115
32          90         0.001004  0.234493  0.000062
33        4593         0.051258 -0.042146  0.000089
34         704         0.007857 -0.598700  0.002119
35         628         0.007009  0.148061  0.000166
36         112         0.001250  0.111114  0.000016
37          29         0.000324 -0.242431  0.000017
38         493         0.005502  0.342083  0.000768
39        2555         0.028514 -0.465330  0.004937
40         919         0.010256  0.362022  0.001620
41         573         0.006395 -0.586963  0.001666
42       10596         0.118252  0.241828  0.007823
43         427         0.004765 -0.366970  0.000537
44         163         0.001819 -0.177126  0.000052
45         101         0.001127 -0.391643  0.000143
46         537         0.005993 -0.420293  0.000864
47         949         0.010591  0.239748  0.000688
48          22         0.000246 -0.659325  0.000078
49           8         0.000089  1.450889  0.000423
50         202         0.002254 -0.679325  0.000755
51        2150         0.023994  0.183445  0.000886
52          59         0.000658 -0.547207  0.000152
53         595         0.006640 -0.172654  0.000182
54         341         0.003806  0.694180  0.002647
55        1472         0.016428  0.307825  0.001823
56         422         0.004710 -0.617555  0.001340
Information value of Rating_Origin_2 is 0.227251
          Variable          Cutoff      N  Events  % of Events  Non-Events  \
0  Rating_Origin_2  (0.137, 0.403]  24370    3341     0.424254       21029
1  Rating_Origin_2  (0.403, 0.561]  24371    1960     0.248889       22411
2  Rating_Origin_2   (0.561, 0.66]  24369    1605     0.203810       22764
3  Rating_Origin_2   (0.66, 0.746]  24370     969     0.123048       23401

   % of Non-Events       WoE        IV
0         0.234686  0.592086  0.112241
1         0.250109 -0.004889  0.000006
2         0.254048 -0.220339  0.011070
3         0.261157 -0.752551  0.103935
Information value of Rating_Origin_3 is 0.246068
          Variable          Cutoff      N  Events  % of Events  Non-Events  \
0  Rating_Origin_3  (0.179, 0.424]  24458    3359     0.426540       21099
1  Rating_Origin_3  (0.424, 0.521]  28208    2390     0.303492       25818
2  Rating_Origin_3  (0.521, 0.631]  20631    1178     0.149587       19453
3  Rating_Origin_3  (0.631, 0.774]  24183     948     0.120381       23235

   % of Non-Events       WoE        IV
0         0.235467  0.594136  0.113523
1         0.288131  0.051939  0.000798
2         0.217097 -0.372465  0.025145
3         0.259305 -0.767343  0.106602
Information value of Telecommunication_Switch is 0.042074
                   Variable            Cutoff      N  Events  % of Events  \
0  Telecommunication_Switch   (-0.001, 287.0]  24412    2342     0.297397
1  Telecommunication_Switch    (287.0, 752.0]  24906    2320     0.294603
2  Telecommunication_Switch   (752.0, 1548.0]  23827    1768     0.224508
3  Telecommunication_Switch  (1548.0, 2513.0]  24335    1445     0.183492

   Non-Events  % of Non-Events       WoE        IV
0       22070         0.246303  0.188504  0.009631
1       22586         0.252062  0.155955  0.006635
2       22059         0.246180 -0.092154  0.001997
3       22890         0.255454 -0.330873  0.023810
Information value of Solvency_Information_Agency is 0.005584
                      Variable  Cutoff      N  Events  % of Events  \
0  Solvency_Information_Agency       0  22404    1626     0.206476
1  Solvency_Information_Agency       1  31953    2711     0.344254
2  Solvency_Information_Agency       2  18252    1499     0.190349
3  Solvency_Information_Agency       3  10369     792     0.100571
4  Solvency_Information_Agency       4   6408     518     0.065778
5  Solvency_Information_Agency       5   8094     729     0.092571

   Non-Events  % of Non-Events       WoE            IV
0       20778         0.231884 -0.116054  2.948717e-03
1       29242         0.326343  0.053429  9.569525e-04
2       16753         0.186965  0.017939  6.070840e-05
3        9577         0.106880 -0.060840  3.838276e-04
4        5890         0.065733  0.000682  3.057569e-08
5        7365         0.082194  0.118897  1.233840e-03

In [284]:
# iv.to_excel('IV.xlsx', index = False)

### VIF

In [285]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(df1):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = df1.columns
    vif["VIF"] = [float(format(variance_inflation_factor(df1.values, i),'f') )for i in range(df1.shape[1])]

    return(vif)

In [286]:
df2 = df_train._get_numeric_data()

In [287]:
# VIF=calc_vif(df2)

In [288]:
# VIF.sort_values('VIF',ascending=False)

In [289]:
# VIF.to_excel('VIF.xlsx', index = False)

In [290]:
from scipy.stats import entropy
import pandas as pd
def information_gain(members, split):
    '''
    Measures the reduction in entropy after the split  
    :param v: Pandas Series of the members
    :param split:
    :return:
    '''
    entropy_before = entropy(members.value_counts(normalize=True))
    split.name = 'split'
    members.name = 'members'
    grouped_distrib = members.groupby(split) \
                        .value_counts(normalize=True) \
                        .reset_index(name='count') \
                        .pivot_table(index='split', columns='members', values='count').fillna(0) 
    entropy_after = entropy(grouped_distrib, axis=1)
    entropy_after *= split.value_counts(sort=False, normalize=True)
    return entropy_before - entropy_after.sum()

In [291]:
# inf_gain = []
# for i in df_train.columns:
#     if i != 'Default':
#         members = df_train[i]
#         split = df_train['Default']
#         try:
#             inf = information_gain(members, split)
#         except:
#             inf = "error"
            
#         inf_gain.append({
#         'VARIABLE': i,
#         'Information Gain': inf
#         })

# df_inf_gain = pd.DataFrame(inf_gain)
# df_inf_gain.to_excel('IG_new.xlsx', index = False)

### Information Gain

In [72]:
def calc_entropy(column):
    """
    Calculate entropy given a series, list, or numpy array.
    """
    # Compute the counts of each given value in the column
    counts = np.bincount(column)
    # Divide by the total column length to get a probability
    probabilities = counts / len(column)
    
    # Initialize the entropy to 0
    entropy = 0
    # Loop through the probabilities, and add each one to the total entropy
    for prob in probabilities:
        if prob > 0:
            # use log from math and set base to 2
            entropy += prob * math.log(prob, 2)
    
    return -entropy

In [73]:
def calc_information_gain(data, split_name, target_name):
    """
    Calculate information gain given a data set, column to split on and target.
    """
    # Calculate the original entropy
    original_entropy = calc_entropy(data[target_name])
    
    # Find the unique values in the column
    values = data[split_name].unique()
    
    print(split_name, ':', values)
    left_split = (data[data[split_name] == values[0]])
    right_split = (data[data[split_name] == values[1]])
    
    # Loop through the splits and calculate the subset entropies
    to_subtract = 0
    for subset in [left_split, right_split]:
        prob = (subset.shape[0] / data.shape[0])
        to_subtract += prob * calc_entropy(subset[target_name])
        
    # Return information gain
    return original_entropy - to_subtract

In [74]:
# inf_gain = []

# for i in df_train.columns:
#     try:
#         inf = calc_information_gain(df_train, i, 'Default')
#     except:
#         inf = "error"
        
#     inf_gain.append({
#         'VARIABLE': i,
#         'Information Gain': inf
#     })

# df_inf_gain = pd.DataFrame(inf_gain)
# df_inf_gain.to_excel('IG.xlsx', index = False)

In [75]:
model_var = [
'Rating_Origin_3',
'Rating_Origin_2',
'Work_Duration_in_Days',
'Sort_of_Institution',
'Elderliness_in_Days',
'Patron_Academic_Qualification',
'Customer_Revenue_Category',
'Customer_Urban_Area_Ranking',
'Telecommunication_Switch',

]

### WOE Binning

In [76]:
num_biv = pd.read_excel(r'C:\Users\100_rabh\1. protium\model\bivariate\numerical_bi_variate.xlsx')

In [77]:
num_biv.head()

                variable                bin   good   bad  count  percentage
0          Patron_Salary      [-inf,8000.0)   7705   643   8348       0.077
1          Patron_Salary   [8000.0,22500.0)  62425  5845  68270       0.086
2          Patron_Salary  [22500.0,31500.0)  13014   985  13999       0.070
3          Patron_Salary      [31500.0,inf)   6461   402   6863       0.059
4  Automobile_Possession         [-inf,1.0)  59488  5537  65025       0.085

In [78]:
def find(text):
    str1 = text

    return (str1.translate({ord(i): None for i in '%'}))

In [79]:
num_biv['bin'] = num_biv.apply(lambda x: find(x['bin']), axis=1)

### NUMERICAL VARIABLE BINNING

In [80]:
def num_label(row, col, conditions):
    if len(conditions) == 2:
        if (row[col] < conditions[0]):
            return 'Group0'
        elif (conditions[0] <= row[col]) & (row[col] < conditions[1]):
            return 'Group1'
        else:
            return 'Group2'
        
    elif len(conditions) == 3:
        if (row[col] < conditions[0]):
            return 'Group0'
        elif (conditions[0] <= row[col]) & (row[col] < conditions[1]):
            return 'Group1'
        elif (conditions[1] <= row[col]) & (row[col] < conditions[2]):
            return 'Group2'
        else:
            return 'Group3'
        
    elif len(conditions) == 4:
        if (row[col] < conditions[0]):
            return 'Group0'
        elif (conditions[0] <= row[col]) & (row[col] < conditions[1]):
            return 'Group1'
        elif (conditions[1] <= row[col]) & (row[col] < conditions[2]):
            return 'Group2'
        elif (conditions[2] <= row[col]) & (row[col] < conditions[3]):
            return 'Group3'
        else:
            return'Group4'
    
    elif len(conditions) == 5:
        if (row[col] < conditions[0]):
            return 'Group0'
        elif (conditions[0] <= row[col]) & (row[col] < conditions[1]):
            return 'Group1'
        elif (conditions[1] <= row[col]) & (row[col] < conditions[2]):
            return 'Group2'
        elif (conditions[2] <= row[col]) & (row[col] < conditions[3]):
            return 'Group3'
        elif (conditions[3] <= row[col]) & (row[col] < conditions[4]):
            return'Group4'
        else:
            return 'Group5'
    
    else:
        return 'NONE'
        
def catg_bin_num(row, col, num_biv):
    num_biv_1 = num_biv[num_biv['variable'] == col].reset_index(drop = True)
    conditions = []
    for i in num_biv_1.index:
        conditions.append(float(num_biv_1['bin'][i][1:-1].split(',')[1]))
    conditions = conditions[:-1]
    print(conditions)
    row[col + str('_BIN')] = row.apply(lambda row: num_label(row, col, conditions), axis=1)
    return row

In [81]:
df_train = catg_bin_num(df_train, 'Rating_Origin_3', num_biv)
df_test = catg_bin_num(df_test, 'Rating_Origin_3', num_biv)

[0.19000000000000003, 0.3400000000000002, 0.5700000000000004]
[0.19000000000000003, 0.3400000000000002, 0.5700000000000004]

In [82]:
df_train['Rating_Origin_3_BIN'].value_counts()

Group2    44504
Group3    37073
Group1    10528
Group0     5375
Name: Rating_Origin_3_BIN, dtype: int64

In [83]:
df_train = catg_bin_num(df_train, 'Rating_Origin_2', num_biv)
df_test = catg_bin_num(df_test, 'Rating_Origin_2', num_biv)

[0.15000000000000002, 0.4600000000000003, 0.6700000000000005, 0.7300000000000005]
[0.15000000000000002, 0.4600000000000003, 0.6700000000000005, 0.7300000000000005]

In [84]:
df_train['Rating_Origin_2_BIN'].value_counts()

Group2    45488
Group1    24923
Group3    13860
Group4     7827
Group0     5382
Name: Rating_Origin_2_BIN, dtype: int64

In [85]:
df_train = catg_bin_num(df_train, 'Elderliness_in_Days', num_biv)
df_test = catg_bin_num(df_test, 'Elderliness_in_Days', num_biv)

[12600.0, 14800.0, 20000.0]
[12600.0, 14800.0, 20000.0]

In [86]:
df_train['Elderliness_in_Days_BIN'].value_counts()

Group2    32541
Group0    24987
Group3    22026
Group1    17926
Name: Elderliness_in_Days_BIN, dtype: int64

In [87]:
df_train = catg_bin_num(df_train, 'Work_Duration_in_Days', num_biv)
df_test = catg_bin_num(df_test, 'Work_Duration_in_Days', num_biv)

[2000.0, 4000.0]
[2000.0, 4000.0]

In [88]:
df_train['Work_Duration_in_Days_BIN'].value_counts()

Group0    46687
Group2    30908
Group1    19885
Name: Work_Duration_in_Days_BIN, dtype: int64

In [89]:
df_train = catg_bin_num(df_train, 'Telecommunication_Switch', num_biv)
df_test = catg_bin_num(df_test, 'Telecommunication_Switch', num_biv)

[1050.0, 1950.0]
[1050.0, 1950.0]

In [90]:
df_train['Telecommunication_Switch_BIN'].value_counts()

Group0    59528
Group1    25116
Group2    12836
Name: Telecommunication_Switch_BIN, dtype: int64

In [91]:
df_train = catg_bin_num(df_train, 'Customer_Urban_Area_Ranking', num_biv)
df_test = catg_bin_num(df_test, 'Customer_Urban_Area_Ranking', num_biv)

[2.0, 3.0]
[2.0, 3.0]

In [92]:
df_train['Customer_Urban_Area_Ranking_BIN'].value_counts()

Group1    73049
Group2    13664
Group0    10767
Name: Customer_Urban_Area_Ranking_BIN, dtype: int64

### CATEGORICAL VARIABLE BINNING

In [93]:
def label(row, col, conditions):
    for i in range(len(conditions)):
        if row[col] in conditions[i]:
            return 'Group' + str(i)
        
    
def catg_bin(row, col, num_biv):
    num_biv_1 = num_biv[num_biv['variable'] == col].reset_index(drop = True)
    conditions = []
    for i in num_biv_1.index:
        conditions.append(num_biv_1['bin'][i].split(','))
    
    print(conditions)
    row[col + str('_BIN')] = row.apply(lambda row: label(row, col, conditions), axis=1)
    return row

In [94]:
df_train = catg_bin(df_train, 'Patron_Academic_Qualification', num_biv)
df_test = catg_bin(df_test, 'Patron_Academic_Qualification', num_biv)

[['POST GRAD', 'GRADUATION'], ['GRADUATION DROPOUT', 'SECONDARY', 'JUNIOR SECONDARY']]
[['POST GRAD', 'GRADUATION'], ['GRADUATION DROPOUT', 'SECONDARY', 'JUNIOR SECONDARY']]

In [95]:
df_train['Patron_Academic_Qualification_BIN'].value_counts()

Group1    74338
Group0    23142
Name: Patron_Academic_Qualification_BIN, dtype: int64

In [96]:
df_train['Patron_Academic_Qualification_BIN'].replace({'Group0': 0, 'Group1': 1}, inplace = True)
df_test['Patron_Academic_Qualification_BIN'].replace({'Group0': 0, 'Group1': 1}, inplace = True)

In [97]:
df_train['Patron_Academic_Qualification_BIN'].value_counts()

1    74338
0    23142
Name: Patron_Academic_Qualification_BIN, dtype: int64

In [98]:
df_train = catg_bin(df_train, 'Sort_of_Institution', num_biv)
df_test = catg_bin(df_test, 'Sort_of_Institution', num_biv)

[['INSURANCE', 'INDUSTRY: TYPE 6', 'TRADE: TYPE 6', 'TRADE: TYPE 4', 'UNIVERSITY', 'POLICE', 'SECURITY MINISTRIES', 'MILITARY', 'INDUSTRY: TYPE 12', 'TRANSPORT: TYPE 1', 'BANK', 'ELECTRICITY', 'SCHOOL', 'INDUSTRY: TYPE 2', 'TRADE: TYPE 2', 'TRADE: TYPE 1', 'SERVICES', 'BUSINESS ENTITY TYPE 2', 'INDUSTRY: TYPE 5', 'RELIGION', 'INDUSTRY: TYPE 9', 'KINDERGARTEN', 'CULTURE', 'HOTEL', 'GOVERNMENT', 'TELECOM', 'TRANSPORT: TYPE 2', 'INDUSTRY: TYPE 7', 'INDUSTRY: TYPE 13', 'ADVERTISING', 'MEDICINE'], ['OTHER', 'HOUSING', 'REALTOR', 'BUSINESS ENTITY TYPE 3', 'POSTAL', 'BUSINESS ENTITY TYPE 1', 'INDUSTRY: TYPE 11', 'TRADE: TYPE 7'], ['INDUSTRY: TYPE 3', 'MOBILE', 'TRADE: TYPE 3', 'SELF-EMPLOYED', 'CLEANING', 'TRANSPORT: TYPE 4', 'LEGAL SERVICES', 'RESTAURANT', 'SECURITY', 'AGRICULTURE', 'CONSTRUCTION', 'INDUSTRY: TYPE 10', 'INDUSTRY: TYPE 4', 'INDUSTRY: TYPE 1', 'EMERGENCY', 'TRANSPORT: TYPE 3', 'INDUSTRY: TYPE 8', 'TRADE: TYPE 5']]
[['INSURANCE', 'INDUSTRY: TYPE 6', 'TRADE: TYPE 6', 'TRADE: TYPE 4', 'UNIVERSITY', 'POLICE', 'SECURITY MINISTRIES', 'MILITARY', 'INDUSTRY: TYPE 12', 'TRANSPORT: TYPE 1', 'BANK', 'ELECTRICITY', 'SCHOOL', 'INDUSTRY: TYPE 2', 'TRADE: TYPE 2', 'TRADE: TYPE 1', 'SERVICES', 'BUSINESS ENTITY TYPE 2', 'INDUSTRY: TYPE 5', 'RELIGION', 'INDUSTRY: TYPE 9', 'KINDERGARTEN', 'CULTURE', 'HOTEL', 'GOVERNMENT', 'TELECOM', 'TRANSPORT: TYPE 2', 'INDUSTRY: TYPE 7', 'INDUSTRY: TYPE 13', 'ADVERTISING', 'MEDICINE'], ['OTHER', 'HOUSING', 'REALTOR', 'BUSINESS ENTITY TYPE 3', 'POSTAL', 'BUSINESS ENTITY TYPE 1', 'INDUSTRY: TYPE 11', 'TRADE: TYPE 7'], ['INDUSTRY: TYPE 3', 'MOBILE', 'TRADE: TYPE 3', 'SELF-EMPLOYED', 'CLEANING', 'TRANSPORT: TYPE 4', 'LEGAL SERVICES', 'RESTAURANT', 'SECURITY', 'AGRICULTURE', 'CONSTRUCTION', 'INDUSTRY: TYPE 10', 'INDUSTRY: TYPE 4', 'INDUSTRY: TYPE 1', 'EMERGENCY', 'TRANSPORT: TYPE 3', 'INDUSTRY: TYPE 8', 'TRADE: TYPE 5']]

In [99]:
df_train['Sort_of_Institution_BIN'].value_counts()

Group0    40462
Group1    35566
Group2    21452
Name: Sort_of_Institution_BIN, dtype: int64

In [100]:
df_train = catg_bin(df_train, 'Customer_Revenue_Category', num_biv)
df_test = catg_bin(df_test, 'Customer_Revenue_Category', num_biv)

[['BUSINESSMAN', 'MATERNITY LEAVE', 'STUDENT', 'RETIRED'], ['GOVT JOB'], ['COMMERCIAL'], ['SERVICE']]
[['BUSINESSMAN', 'MATERNITY LEAVE', 'STUDENT', 'RETIRED'], ['GOVT JOB'], ['COMMERCIAL'], ['SERVICE']]

In [101]:
df_train['Customer_Revenue_Category_BIN'].value_counts()

Group3    51662
Group2    22237
Group0    16903
Group1     6678
Name: Customer_Revenue_Category_BIN, dtype: int64

In [102]:
train = df_train.copy()
test = df_test.copy()

### Model Development

In [292]:
df_train = train.copy()
df_test = test.copy()

In [293]:
model_var = [
'Rating_Origin_3',
# 'Rating_Origin_3_BIN',
'Rating_Origin_2',
# 'Rating_Origin_2_BIN',
'Work_Duration_in_Days',
# 'Work_Duration_in_Days_BIN',
# 'Sort_of_Institution',
'Sort_of_Institution_BIN',
'Elderliness_in_Days',
# 'Elderliness_in_Days_BIN',
# 'Patron_Academic_Qualification',
'Patron_Academic_Qualification_BIN',
# 'Customer_Revenue_Category',
'Customer_Revenue_Category_BIN',
# 'Customer_Urban_Area_Ranking',
# 'Customer_Urban_Area_Ranking_BIN',
'Telecommunication_Switch',
# 'Telecommunication_Switch_BIN',
'Identity_Age_in_Days'
]

In [294]:
df_train1 = df_train[model_var]

cat_vars = [i for i in df_train1.columns if df_train1[i].dtype == 'object']

for var in cat_vars:
    cat_list='var'+'_'+var
    cat_list = pd.get_dummies(df_train1[var], prefix=var)
    df_train1=df_train1.join(cat_list)
    
df_train1=df_train1.drop(cat_vars,axis=1)

df_test1 = df_test[model_var]
for var in cat_vars:
    cat_list='var'+'_'+var
    cat_list = pd.get_dummies(df_test1[var], prefix=var)
    df_test1=df_test1.join(cat_list)
    
df_test1=df_test1.drop(cat_vars,axis=1)

print("Training set : ",df_train1.shape)
print("Test set : ",df_test1.shape)

Training set :  (97480, 14)
Test set :  (24370, 14)

In [295]:
def maximum(a, b):
    if a != b:
        if a[0] >= b[0]:
            largest = a[1]
        else:
            largest = b[1]
            
        return largest
    else:
        print("Equal shapes")
        
tr1 = [len(df_train1.columns), "train"]
te1 = [len(df_test1.columns), "test"]

largest = maximum(tr1, te1)
print("Maximum shape of", largest, "dataframe!!!")

Maximum shape of train dataframe!!!

In [296]:
tr_col = set(df_train1.columns.to_list())
te_col = set(df_test1.columns.to_list())

if largest == 'train':
    x = tr_col.intersection(te_col)
    for i in list(tr_col):
        if i not in list(x):
            print("test:", i)
            df_test1[i] = 0

if largest == 'test':
    x = te_col.intersection(tr_col)
    for i in list(tr_col):
        if i not in list(x):
            print("train:", i)
            df_train1[i] = 0

else:
    pass

print("----------------------------------------")
print("Training set: ", df_train1.shape)
print("Testing set: ", df_test1.shape)

----------------------------------------
Training set:  (97480, 14)
Testing set:  (24370, 14)

In [297]:
X_train = df_train1.copy()
y_train = df_train['Default']
print("Shape of X_train: ", X_train.shape)
print("Shape of y_train: ", y_train.shape)
print("\n")

X_test = df_test1.copy()
y_test = df_test['Default']
print("Shape of X_test: ", X_test.shape)
print("Shape of y_test: ", y_test.shape)
print("\n")

Shape of X_train:  (97480, 14)
Shape of y_train:  (97480,)


Shape of X_test:  (24370, 14)
Shape of y_test:  (24370,)

In [298]:
# f_imp = [
#     'Rating_Origin_2', 'Work_Duration_in_Days',
#        'Patron_Academic_Qualification_BIN', 'Elderliness_in_Days',
#        'Telecommunication_Switch',
#        'Customer_Living_Arrangement_BIN', 'Automobile_Possession',
#        'Patron_Constant_Correspondence_Marker_BIN',
#        'Identity_Age_in_Days', 'Loan_Capital', 'Rating_Origin_3',
# #        'Borrowing_Agreement_Category_BIN', 'Patron_Salary',
# #        'Employment_Phone_Operation'
# ]

In [299]:
# X_train = X_train[f_imp]
# X_test = X_test[f_imp]

In [300]:
X_train.shape

(97480, 14)

In [301]:
X_train.head(2)

,Rating_Origin_3,Rating_Origin_2,Work_Duration_in_Days,Elderliness_in_Days,Patron_Academic_Qualification_BIN,Telecommunication_Switch,Identity_Age_in_Days,Sort_of_Institution_BIN_Group0,Sort_of_Institution_BIN_Group1,Sort_of_Institution_BIN_Group2,Customer_Revenue_Category_BIN_Group0,Customer_Revenue_Category_BIN_Group1,Customer_Revenue_Category_BIN_Group2,Customer_Revenue_Category_BIN_Group3
0,0.593718,0.205747,365243,20099.0,1,0.0,3514,1,0,0,1,0,0,0
1,0.600658,0.679736,365243,22293.0,1,1046.0,4492,1,0,0,1,0,0,0

In [302]:
X_test.shape

(24370, 14)

In [303]:
X_test.head(2)

,Rating_Origin_3,Rating_Origin_2,Work_Duration_in_Days,Elderliness_in_Days,Patron_Academic_Qualification_BIN,Telecommunication_Switch,Identity_Age_in_Days,Sort_of_Institution_BIN_Group0,Sort_of_Institution_BIN_Group1,Sort_of_Institution_BIN_Group2,Customer_Revenue_Category_BIN_Group0,Customer_Revenue_Category_BIN_Group1,Customer_Revenue_Category_BIN_Group2,Customer_Revenue_Category_BIN_Group3
0,0.329655,0.552795,5102.0,16790.0,1,277.0,393.0,0,0,1,0,0,0,1
1,0.595456,0.418630,2504.0,14630.0,1,2458.0,1191.0,1,0,0,0,0,0,1

In [304]:
X_train.columns

Index(['Rating_Origin_3', 'Rating_Origin_2', 'Work_Duration_in_Days',
       'Elderliness_in_Days', 'Patron_Academic_Qualification_BIN',
       'Telecommunication_Switch', 'Identity_Age_in_Days',
       'Sort_of_Institution_BIN_Group0', 'Sort_of_Institution_BIN_Group1',
       'Sort_of_Institution_BIN_Group2',
       'Customer_Revenue_Category_BIN_Group0',
       'Customer_Revenue_Category_BIN_Group1',
       'Customer_Revenue_Category_BIN_Group2',
       'Customer_Revenue_Category_BIN_Group3'],
      dtype='object')

### XG Boost

In [347]:
import xgboost as xgb
xgb_cl = xgb.XGBClassifier(objective='binary:logistic', booster='gbtree',learning_rate=0.05,max_depth=6,
                               base_score=0.5, n_estimators=200, num_parallel_tree=6, eval_metric='auc',
                               tree_method='hist', grow_policy='lossguide', scale_pos_weight = 11,
                               gamma = 20, colsample_bytree = 0.5
                              ).fit(X_train, y_train)

y_pred_xg1 = xgb_cl.predict(X_train)
y_pred_xg = xgb_cl.predict(X_test)

X_train_prob = list(xgb_cl.predict_proba(X_train)[:,1])
X_test_prob = list(xgb_cl.predict_proba(X_test)[:,1])

train['Prob_score_XGB'] = X_train_prob
test['Prob_score_XGB'] = X_test_prob

In [348]:
print("ROC AUC Score for train:", roc_auc_score(y_train, X_train_prob) * 100)
print("ROC AUC Score for test:", roc_auc_score(y_test, X_test_prob) * 100)

ROC AUC Score for train: 76.55958512802661
ROC AUC Score for test: 73.79413312559976

In [349]:
feat_imp = pd.DataFrame.from_dict(zip(list(X_train.columns), xgb_cl.feature_importances_*100)).sort_values(by = 1, ascending = False)
# feat_imp.to_excel('feature_imp_xgb.xlsx', index = False)
feat_imp

                                       0          1
0                        Rating_Origin_3  17.773987
1                        Rating_Origin_2  17.016285
4      Patron_Academic_Qualification_BIN  14.197127
7         Sort_of_Institution_BIN_Group0   9.175450
2                  Work_Duration_in_Days   6.041449
13  Customer_Revenue_Category_BIN_Group3   4.825149
9         Sort_of_Institution_BIN_Group2   4.710471
3                    Elderliness_in_Days   4.351727
5               Telecommunication_Switch   4.216900
6                   Identity_Age_in_Days   4.020339
10  Customer_Revenue_Category_BIN_Group0   3.621895
8         Sort_of_Institution_BIN_Group1   3.599311
12  Customer_Revenue_Category_BIN_Group2   3.347152
11  Customer_Revenue_Category_BIN_Group1   3.102753

In [350]:
feat_imp[0].values

array(['Rating_Origin_3', 'Rating_Origin_2',
       'Patron_Academic_Qualification_BIN',
       'Sort_of_Institution_BIN_Group0', 'Work_Duration_in_Days',
       'Customer_Revenue_Category_BIN_Group3',
       'Sort_of_Institution_BIN_Group2', 'Elderliness_in_Days',
       'Telecommunication_Switch', 'Identity_Age_in_Days',
       'Customer_Revenue_Category_BIN_Group0',
       'Sort_of_Institution_BIN_Group1',
       'Customer_Revenue_Category_BIN_Group2',
       'Customer_Revenue_Category_BIN_Group1'], dtype=object)

In [351]:
def ks(data=None,target=None, prob=None):
    data['target_xgb'] = 1 - data[target]
    data['bucket'] = pd.qcut(data[prob], 10)
    grouped = data.groupby('bucket', as_index = False)
    kstable = pd.DataFrame()
    kstable['min_prob'] = grouped.min()[prob]
    kstable['max_prob'] = grouped.max()[prob]
    kstable['total'] = (grouped.sum()[target] + grouped.sum()['target_xgb'])
    kstable['events']   = grouped.sum()[target]
    kstable['nonevents'] = grouped.sum()['target_xgb']
    kstable = kstable.sort_values(by="min_prob", ascending=False).reset_index(drop = True)
    kstable['event_rate'] = (kstable.events / data[target].sum()).apply('{0:.2%}'.format)
    kstable['nonevent_rate'] = (kstable.nonevents / data['target_xgb'].sum()).apply('{0:.2%}'.format)
    kstable['cum_eventrate']=(kstable.events / data[target].sum()).cumsum()
    kstable['cum_noneventrate']=(kstable.nonevents / data['target_xgb'].sum()).cumsum()
    kstable['KS'] = np.round(kstable['cum_eventrate']-kstable['cum_noneventrate'], 3) * 100

    #Formating
    kstable['cum_eventrate']= kstable['cum_eventrate'].apply('{0:.2%}'.format)
    kstable['cum_noneventrate']= kstable['cum_noneventrate'].apply('{0:.2%}'.format)
    
    kstable['ks_stats'] = np.round(((kstable['events'] / kstable['events'].sum()).cumsum() -(kstable['nonevents'] / kstable['nonevents'].sum()).cumsum()), 4) * 100
    kstable['max_ks'] = kstable['ks_stats'].apply(lambda x: '*****' if x == kstable['ks_stats'].max() else '')
    
    kstable.index = range(1,11)
    kstable.index.rename('Decile', inplace=True)
    pd.set_option('display.max_columns', 20)
#    print(kstable)
#    print(type(kstable))    
    #Display KS
    from colorama import Fore
#   print(Fore.RED + "KS is " + str(max(kstable['KS']))+"%"+ " at decile " + str((kstable.index[kstable['KS']==max(kstable['KS'])][0])))
#     print(type(kstable))
    return(kstable)

In [352]:
xg_train_ks = ks(train,'Default','Prob_score_XGB')
xg_test_ks = ks(test,'Default','Prob_score_XGB')

In [353]:
# xg_train_ks.to_csv('xgboost_ks_train.csv', index = False)
xg_train_ks

,min_prob,max_prob,total,events,nonevents,event_rate,nonevent_rate,cum_eventrate,cum_noneventrate,KS,ks_stats,max_ks
Decile,,,,,,,,,,,,
1,0.675123,0.893547,9748,2600,7148,33.02%,7.98%,33.02%,7.98%,25.0,25.04,
2,0.579218,0.675109,9748,1475,8273,18.73%,9.23%,51.75%,17.21%,34.5,34.54,
3,0.510731,0.579197,9748,1083,8665,13.75%,9.67%,65.50%,26.88%,38.6,38.62,
4,0.451918,0.510729,9748,799,8949,10.15%,9.99%,75.64%,36.87%,38.8,38.78,*****
5,0.400708,0.451917,9748,612,9136,7.77%,10.20%,83.42%,47.06%,36.4,36.35,
6,0.353858,0.400704,9748,485,9263,6.16%,10.34%,89.57%,57.40%,32.2,32.17,
7,0.307914,0.353858,9748,399,9349,5.07%,10.43%,94.64%,67.83%,26.8,26.81,
8,0.259972,0.307908,9748,230,9518,2.92%,10.62%,97.56%,78.46%,19.1,19.11,
9,0.203455,0.259970,9748,132,9616,1.68%,10.73%,99.24%,89.19%,10.0,10.05,
10,0.050241,0.203447,9748,60,9688,0.76%,10.81%,100.00%,100.00%,0.0,0.00,

In [354]:
# xg_test_ks.to_csv('xgboost_ks_test.csv', index = False)
xg_test_ks

,min_prob,max_prob,total,events,nonevents,event_rate,nonevent_rate,cum_eventrate,cum_noneventrate,KS,ks_stats,max_ks
Decile,,,,,,,,,,,,
1,0.673729,0.891264,2437,598,1839,30.40%,8.21%,30.40%,8.21%,22.2,22.19,
2,0.580606,0.673712,2437,356,2081,18.10%,9.29%,48.50%,17.50%,31.0,31.00,
3,0.511732,0.580584,2437,277,2160,14.08%,9.64%,62.58%,27.14%,35.4,35.44,
4,0.452636,0.511706,2437,198,2239,10.07%,9.99%,72.65%,37.13%,35.5,35.52,*****
5,0.402029,0.452628,2437,160,2277,8.13%,10.16%,80.78%,47.30%,33.5,33.49,
6,0.353689,0.402029,2437,118,2319,6.00%,10.35%,86.78%,57.65%,29.1,29.13,
7,0.307864,0.353661,2437,91,2346,4.63%,10.47%,91.41%,68.12%,23.3,23.29,
8,0.259682,0.307785,2437,74,2363,3.76%,10.55%,95.17%,78.67%,16.5,16.50,
9,0.206522,0.259682,2437,54,2383,2.75%,10.64%,97.92%,89.31%,8.6,8.61,
10,0.061073,0.206491,2437,41,2396,2.08%,10.69%,100.00%,100.00%,0.0,0.00,

In [355]:


# Init classifier
def best_result(eta, md, npt, gam, train, test):
    xgb_cl = xgb.XGBClassifier(objective='binary:logistic', booster='gbtree',learning_rate=eta,max_depth=md,
                               base_score=0.5, n_estimators=200, num_parallel_tree=npt, eval_metric='auc',
                               tree_method='hist', grow_policy='lossguide', scale_pos_weight = 11,
                               gamma = gam, colsample_bytree = 0.5
                              ).fit(X_train, y_train)

    y_pred_xg1 = xgb_cl.predict(X_train)
    y_pred_xg = xgb_cl.predict(X_test)
    
    X_train_prob = list(xgb_cl.predict_proba(X_train)[:,1])
    X_test_prob = list(xgb_cl.predict_proba(X_test)[:,1])
#     print("max depth: " , md , ", num parallel tree: " , npt , "gamma: " , gam)
    train_res = roc_auc_score(y_train, X_train_prob) * 100
    test_res = roc_auc_score(y_test, X_test_prob) * 100
    
    train['Prob_score_XGB'] = X_train_prob
    test['Prob_score_XGB'] = X_test_prob

    xg_train_ks = ks(train,'Default','Prob_score_XGB')
    xg_test_ks = ks(test,'Default','Prob_score_XGB')
    
    train_3rd_cap = xg_train_ks.reset_index()['cum_eventrate'][2]
    test_3rd_cap = xg_test_ks.reset_index()['cum_eventrate'][2]
#     print(train_3rd_cap, test_3rd_cap)
#     print("ROC AUC Score for train:", train_res)
#     print("ROC AUC Score for test:", test_res)
    return eta, md, npt, gam, train_res, test_res, train_3rd_cap, test_3rd_cap

In [ ]:
my_dict = {"LearningRate": [], "Max_Depth":[], "Num_Parallel_Tree":[], "Gamma":[],
           "Train_AUC": [], "Test_AUC": [], "Train_3rd_DC": [], "Test_3rd_DC": []};
for i in [0.05, 0.04, 0.03, 0.02]:
    for j in [4, 5, 6, 7]:
        for k in [3, 4, 5, 6]:
            for l in [21, 23, 25, 19]:
                try:
                    eta, md, npt, gam, train_res, test_res, train_3rd_cap, test_3rd_cap = best_result(i, j, k, l, train, test)
                    my_dict["LearningRate"].append(eta)
                    my_dict["Max_Depth"].append(md)
                    my_dict["Num_Parallel_Tree"].append(npt)
                    my_dict["Gamma"].append(gam)
                    my_dict["Train_AUC"].append(train_res)
                    my_dict["Test_AUC"].append(test_res)
                    my_dict["Train_3rd_DC"].append(train_3rd_cap)
                    my_dict["Test_3rd_DC"].append(test_3rd_cap)
#                     print(my_dict)
                except:
                    pass

                print("------------------------------------------------------------")

------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------

------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------
------------------------------------------------------------

In [ ]:
my_dict

In [ ]:
# pd.DataFrame(my_dict).to_excel('output_v1.2.xlsx', index = False)

In [ ]:

# X_validation_prob = list(xgb_cl.predict_proba(X_validation)[:,1])


# validation['Prob_score_XGB'] = X_validation_prob


# print("ROC AUC Score for validation:", roc_auc_score(y_validation, X_validation_prob) * 100)

In [ ]:
feat_imp = pd.DataFrame.from_dict(zip(list(X_train.columns), xgb_cl.feature_importances_*100)).sort_values(by = 1, ascending = False)
# feat_imp.to_excel('feature_imp_xgb.xlsx', index = False)
feat_imp

In [ ]:
feat_imp[0].values

In [ ]:
# print()
print("ROC AUC Score for train:", roc_auc_score(y_train, y_pred_xg1) * 100)
print("ROC AUC Score for test:", roc_auc_score(y_test, y_pred_xg) * 100)
# print("ROC AUC Score for valid:", roc_auc_score(y_validation, y_pred_xg_v) * 100)

In [ ]:
# xg_train_ks.to_csv('xgboost_ks_train.csv', index = False)
xg_train_ks.reset_index()['cum_eventrate'][2]

In [ ]:
# xg_test_ks.to_csv('xgboost_ks_test.csv', index = False)
xg_test_ks

In [ ]:
# xg_validation_ks.to_csv('xgboost_ks_validation.csv', index = False)
# xg_validation_ks